# Binaries
/main
/recommend
/recommend_engine
/recommend-server
llm.yaml

# Configs (Be careful with committing real keys!)
# configs/llm.yaml 
# configs/users.yaml

# Data
data/history.jsonl
*.log

# OS
.DS_Store
